.ranking_thumbnail{
    width: 130px;
    height: 130px;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
}
.ranking_view{
    padding:20px;
}
.ranking{
    text-align:center;
    width:30%;
    margin:20px;
}

.create_ranking_textfield{
    margin:10px;
}

.github_thumbnail{
    width: 130px;
    height: 130px;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
}

.select{
    width:200px;
}